.side-indent {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 40px;
}

.btn {
  line-height: 50px;
  padding: 0 40px;
  display: inline-flex;
  justify-content: center;
  border: none;
  color: #2f2f2f;
  background-color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}